secrets-*.yaml
text.txt
.DS_Store

##
# Terraform repo .gitignore
# Source: https://github.com/github/gitignore/blob/master/Terraform.gitignore
##

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfplan files
*.tfplan

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

venv/*

terraform/modules/canaries/api-endpoint-canary/tmp/*
!terraform/modules/canaries/api-endpoint-canary/tmp/.gitkeep
terraform/modules/canaries/url-canary/tmp/*
!terraform/modules/canaries/url-canary/tmp/.gitkeep

terraform/vars/private.tfvars
terraform-k8s-infrastructure/vars/private.tfvars

terraform.tfstate
terraform.tfstate.backup
/terraform-k8s-infrastructure/modules/k8s_microservice_routing/lambda.zip
