%{ for namespace in split(",", namespaces) }
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${namespace}-default-sa
  namespace: ${namespace}
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::${aws_account_id}:role/eks-node-group-admin"
%{ endfor }