name: Run tests and apply terraform changes for current branch

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        ./scripts/setup
    - name: Build Lambda layers
      if: success()
      run: ./scripts/cibuild
    - name: Deploy production
      if: success() && contains(github.ref, 'master')
      env:
        ENV: production
        AWS_ACCESS_KEY_ID: ${{ secrets.aws_key_production }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_production }}
        AWS_DEFAULT_REGION: ${{ secrets.aws_region_production }}
      run: |
        ./scripts/infra plan -var="cloudflare_email=${{ secrets.cloudflare_email_production }}" -var="cloudflare_api_key=${{ secrets.cloudflare_api_key_production }}"
        ./scripts/infra apply -var="cloudflare_email=${{ secrets.cloudflare_email_production }}" -var="cloudflare_api_key=${{ secrets.cloudflare_api_key_production }}"
    - name: Deploy staging
      if: success() && contains(github.ref, 'develop')
      env:
        ENV: staging
        AWS_ACCESS_KEY_ID: ${{ secrets.aws_key_staging }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_staging }}
        AWS_DEFAULT_REGION: ${{ secrets.aws_region_staging }}
        CLOUDFLARE_API_KEY: ${{ secrets.cloudflare_email_staging }}
        CLOUDFLARE_EMAIL: ${{ secrets.cloudflare_api_key_staging }}
      run: |
        ./scripts/infra plan
        ./scripts/infra apply
    - name: Deploy dev
      if: success() && (! contains(github.ref, 'develop')) && (! contains(github.ref, 'master'))
      env:
        ENV: dev
        AWS_ACCESS_KEY_ID: ${{ secrets.aws_key_dev }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_dev }}
        AWS_DEFAULT_REGION: ${{ secrets.aws_region_dev }}
      run: |
        ./scripts/infra plan -var="cloudflare_email=${{ secrets.cloudflare_email_dev }}" -var="cloudflare_api_key=${{ secrets.cloudflare_api_key_dev }}"
        ./scripts/infra apply -var="cloudflare_email=${{ secrets.cloudflare_email_dev }}" -var="cloudflare_api_key=${{ secrets.cloudflare_api_key_dev }}"